{{>nav}}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card">
                <span class="card-header">
                   
                    <h4>Habit1</h4>
                </span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <span>Daily Progress</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow={{weeklyProgress}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <span>Weekly Progress</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow={{monthlyProgress}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check1">
                            <label class="form-check-label" for="check1">
                               
                                <p>check1</p>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check2">
                            <label class="form-check-label" for="check1">
                                
                               <p>check1</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12">
            <div class="card">
                <span class="card-header">
                   
                    <h4>Habit2</h4>
                </span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <span>Daily Progress</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow={{weeklyProgress}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <span>Weekly Progress</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow={{monthlyProgress}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check1">
                            <label class="form-check-label" for="check1">
                               
                                <p>check1</p>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check2">
                            <label class="form-check-label" for="check1">
                                
                               <p>check1</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

     <div class="row">
        <div class="col-lg-6 col-12">
            <div class="card">
                <span class="card-header">
                   
                    <h4>Habit1</h4>
                </span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <span>Daily Progress</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow={{weeklyProgress}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <span>Weekly Progress</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow={{monthlyProgress}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check1">
                            <label class="form-check-label" for="check1">
                               
                                <p>check1</p>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check2">
                            <label class="form-check-label" for="check1">
                                
                               <p>check1</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12">
            <div class="card">
                <span class="card-header">
                   
                    <h4>Habit2</h4>
                </span>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <span>Daily Progress</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow={{weeklyProgress}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <span>Weekly Progress</span>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow={{monthlyProgress}} aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check1">
                            <label class="form-check-label" for="check1">
                               
                                <p>check1</p>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="check2">
                            <label class="form-check-label" for="check1">
                                
                               <p>check1</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        
    </div>
   
</div>

